name: link-checker

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  internalLinkChecker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: |
            --verbose
            --offline
            --root-dir "$(pwd)"
            "./**/*.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 